html {
  font-family: 'Lato', sans-serif; 
  // font-family: "Roboto",
  //              sans-serif; 
  font-size: 15px;
  font-weight: 400;
  color: #333;
}

a {
  color: #0E6BA8;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #fff;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.part {
  // future use
}
// see _content.scss, _footer.scss, and _header.scss for body parts