html {
  // font-family: -apple-system, 
  //               BlinkMacSystemFont, 
  //               "Segoe UI", 
  //               Roboto, 
  //               Oxygen,
  //               Ubuntu,
  //               Cantarell,
  //               "Fira Sans",
  //               "Droid Sans",
  //               "Helvetica Neue", 
  //               sans-serif; 
  font-family: "Roboto",
               sans-serif; 
  font-size: 15px;
  font-weight: 400;
  color: #222;
}

a {
  color: #DE541E;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

body {
  background-color: #fff;
  min-height: 100vh;
}

.hidden {
  display: none;
}

.part {
  // future use
}
// see _content.scss, _footer.scss, and _header.scss for body parts