var request = require('request');

gulp.task('taskname', function() {

    var options = {
        url: 'https://api.cloudflare.com/client/v4/zones/myZoneID/purge_cache',
        headers: {
            'X-Auth-Email': 'email',
            'X-Auth-Key': 'myAPIkey',
            'Content-Type': 'application/json'
        },
        body: JSON.stringify({
            'purge_everything': true
        })

    };

    function callback(error, response, body) {
        var resp = JSON.parse(body);

        if (!error & response.statusCode == 200) {
            console.log('CF Purge: ', resp.success);
        }
        else {
            console.log('Error: ', resp.errors);
            for (var i = 0; i < resp.errors.length; i++)
                console.log('      ', resp.errors[i]);

            console.log('Message: ', resp.messages);
            console.log('Result: ', resp.result);
        }
    }

    return request.del(options, callback);
    ;
});